@font-face {
    font-family: 'Podium'; 
    /* src: url('./static/fonts/PODIUMSoft-UltraLight.ttf') format('truetype'); */
    src: url('./static/fonts/WarsawGothic.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-noto-300{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
}
.font-noto-400{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
}
.font-noto-italic-400{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
    font-style:italic;
}

.font-noto-500{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 500;
}
.font-noto-600{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
}
.font-noto-700{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
}
